* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    
    --ff-primary: 'Staatliches', cursive;
    --ff-secondary: 'Palanquin', sans-serif;
    
    --fs-heading: 4rem;
    --fs-main: 2rem;

    --bg-color: #8E9AAF;
}

body {
    text-align: center;

    max-width: 38.4rem;

    margin: 0 auto;

}

header {
    background-color: var(--bg-color);
    font-family: var(--ff-primary);  

    padding-bottom: 1.4rem;
}

header img {
    padding-top: 3.2rem;
    padding-bottom: 4rem;
}


header h1 {
    background-color: #CBC0D3;
    color: #FFFFFF;

    font-weight: 400;
    font-size: var(--fs-heading);
    line-height: 3.4rem;
    letter-spacing: 0.05em;

    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

main {
    background-color: #EFF1FF;
    
}

main p {
    font-family: var(--ff-secondary);
    font-size: var(--fs-main);
    line-height: 1.5rem;
    font-weight: 400;


    color: #23053A;

    padding-top: 1.4rem;
    padding-bottom: 6.3rem;

}

.card-1, .card-2 {
    margin-bottom: 3.5rem;

    position: relative;
}

.card-1 img {
    height: 25rem;

    object-fit: cover;

    animation-name: imgtop;
    animation-duration: 1.5s;
    animation-timing-function: ease;
}

.card-2 img {
    height: 45rem;

    object-fit: cover;

    animation-name: imgtop;
    animation-duration: 1.5s;
    animation-timing-function: ease;
}


.card-1 h2, .card-2 h2 {
    position: absolute;
    top: 1.6rem;
    right: 2.6rem;
    
    font-size: var(--fs-main);
    font-weight: 400;
    background-color: #FEEAFA;
    color: #4A4E69;
    
    font-family: var(--ff-primary);
    line-height: 3.4rem;
    letter-spacing: 0.05rem;

    border-radius: 2rem;

    width: fit-content;
    height: 3.5rem;

    position: absolute;

    margin-right: 1.6rem;

    padding: 0 2.3rem;

    animation-name: h2down;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-delay: 10ms;
    
    
}

@keyframes imgtop {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes h2down {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
